namespace: php-nginx-k8s

deployment:
  name: php-nginx-k8s
  replicas: 1
  labels:
    app: php-nginx-k8s
  containers:
    nginx:
      image: php-nginx-k8s/nginx
      tag: latest
      imagePullPolicy: IfNotPresent
    phpFpm:
      image: php-nginx-k8s/php-fpm
      tag: latest
      imagePullPolicy: IfNotPresent
    mountDir: /data/src
  volume:
    hostPath:
      path: /mnt/source/src

service:
  name: php-nginx-k8s
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort

ingress:
  name: php-nginx-k8s
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  host: php-nginx-k8s.local
  port: 80